n8n_dz/dz_tracking_key.json
{
  "name": "ДЗ — вибір ключа трекінгу (Manual, Set, IF, 3 гілки)",
  "nodes": [
    {
      "parameters": {
        "content": "Цей воркфлоу вирішує, як відстежувати перевезення — залежно від того, які дані є. Запускається вручну кнопкою Execute Workflow.\n\nКоротко про вузли: Manual Trigger — це ручний старт. Set задає тестові дані (номер BL, контейнер, лінія). IF — це умова, у неї два виходи: якщо так, іде верхній, якщо ні — нижній.\n\nПопробуй змінити значення у вузлі «Дані перевезення» і запустити ще раз — воркфлоу піде іншою гілкою.",
        "height": 150,
        "width": 1100,
        "color": 5
      },
      "id": "Нотатка:_огляд",
      "name": "Нотатка: огляд",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        20
      ]
    },
    {
      "parameters": {
        "content": "Старт і дані.\nManual Trigger просто запускає воркфлоу вручну. Set створює тестовий запис із полями bl, container і line — саме їх далі перевіряють умови.",
        "height": 150,
        "width": 240,
        "color": 6
      },
      "id": "Нотатка:_старт_і_дані",
      "name": "Нотатка: старт і дані",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        640
      ]
    },
    {
      "parameters": {
        "content": "Як працює логіка.\nСпершу питаємо: чи є номер BL? Якщо є — трекаємо по BL, це найточніше. Якщо немає — питаємо далі: чи є контейнер і лінія? Якщо є — тимчасово трекаємо по контейнеру. Якщо ні — трекати нема як.",
        "height": 170,
        "width": 320,
        "color": 4
      },
      "id": "Нотатка:_IF",
      "name": "Нотатка: IF",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        640
      ]
    },
    {
      "parameters": {
        "content": "Три можливі результати.\nКожна гілка закінчується вузлом Set, який ставить свій статус трекінгу. Відкрий вивід кожного, щоб побачити різницю.",
        "height": 150,
        "width": 260,
        "color": 7
      },
      "id": "Нотатка:_результати",
      "name": "Нотатка: результати",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        640
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Старт (Manual Trigger)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "dealNumber",
              "value": "UT-1024",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "direction",
              "value": "Імпорт",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "line",
              "value": "Maersk",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "bl",
              "value": "240001234",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "container",
              "value": "MRKU1234567",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-data",
      "name": "Дані перевезення (Set)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.bl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-bl",
      "name": "Чи є номер BL? (IF)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.container }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $json.line }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-container",
      "name": "Є контейнер і лінія? (IF)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "Результат трекінгу",
              "value": "Трекається автоматично по BL (Maersk API)",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set-bl",
      "name": "Трекається по BL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r2",
              "name": "Результат трекінгу",
              "value": "Тимчасово по контейнеру — позначка «уточнити»",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set-container",
      "name": "Тимчасово по контейнеру",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r3",
              "name": "Результат трекінгу",
              "value": "Не трекається — потребує перевірки",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set-none",
      "name": "Не трекається",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        560
      ]
    }
  ],
  "connections": {
    "Старт (Manual Trigger)": {
      "main": [
        [
          {
            "node": "Дані перевезення (Set)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Дані перевезення (Set)": {
      "main": [
        [
          {
            "node": "Чи є номер BL? (IF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чи є номер BL? (IF)": {
      "main": [
        [
          {
            "node": "Трекається по BL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Є контейнер і лінія? (IF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Є контейнер і лінія? (IF)": {
      "main": [
        [
          {
            "node": "Тимчасово по контейнеру",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Не трекається",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}