n8n/cmr-draft/_deploy/setup.json
{
  "name": "TEMP CMR setup",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "cmr-setup", "responseMode": "responseNode", "options": {} },
      "id": "wh", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/drive/v3/files?fields=id&supportsAllDrives=true",
        "authentication": "predefinedCredentialType", "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: 'CMR', mimeType: 'application/vnd.google-apps.folder' }) }}",
        "options": {}
      },
      "id": "mk", "name": "mkfolder", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [420, 300],
      "credentials": { "googleDriveOAuth2Api": { "id": "2GWpYd58b4gHSUPi", "name": "Google Drive account" } }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/111phWZYtRk5eJpYeaKaHWQaRprxlmYDc2wzN_lHiUAQ?addParents={{ $json.id }}&removeParents=root&fields=id,parents&supportsAllDrives=true",
        "authentication": "predefinedCredentialType", "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true, "specifyBody": "json", "jsonBody": "={}",
        "options": {}
      },
      "id": "mv", "name": "move", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [640, 300],
      "credentials": { "googleDriveOAuth2Api": { "id": "2GWpYd58b4gHSUPi", "name": "Google Drive account" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files/111phWZYtRk5eJpYeaKaHWQaRprxlmYDc2wzN_lHiUAQ/export?mimeType=text/plain",
        "authentication": "predefinedCredentialType", "nodeCredentialType": "googleDriveOAuth2Api",
        "options": { "response": { "response": { "responseFormat": "text", "outputPropertyName": "txt" } } }
      },
      "id": "ex", "name": "export text", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [860, 300],
      "credentials": { "googleDriveOAuth2Api": { "id": "2GWpYd58b4gHSUPi", "name": "Google Drive account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ folderId: $('mkfolder').item.json.id, placeholders: ($('export text').item.json.txt.match(/\\{\\{[a-z]+\\}\\}/g) || []) }) }}",
        "options": {}
      },
      "id": "resp", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1080, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "mkfolder", "type": "main", "index": 0 }]] },
    "mkfolder": { "main": [[{ "node": "move", "type": "main", "index": 0 }]] },
    "move": { "main": [[{ "node": "export text", "type": "main", "index": 0 }]] },
    "export text": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
