n8n/cmr-draft/_deploy/uploader.json
{
  "name": "TEMP CMR template uploader",
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"cmr-tpl-up","responseMode":"responseNode","options":{}},"id":"wh","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300]},
    {"parameters":{"url":"https://api.github.com/repos/irynakarmazina-bot/Iryna_Karmazina/contents/n8n/cmr-draft/CMR_template.docx?ref=claude/n8n-cmr-draft-automation-8tdhbk","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token GH_TOKEN_PLACEHOLDER"},{"name":"Accept","value":"application/vnd.github.raw"},{"name":"User-Agent","value":"n8n"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}},"id":"gh","name":"GitHub docx","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300]},
    {"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files?uploadType=media&fields=id&supportsAllDrives=true","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/vnd.openxmlformats-officedocument.wordprocessingml.document"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"up","name":"Upload media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"credentials":{"googleDriveOAuth2Api":{"id":"2GWpYd58b4gHSUPi","name":"Google Drive account"}}},
    {"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/copy?fields=id,name,mimeType,webViewLink&supportsAllDrives=true","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: 'Шаблон CMR (автозаповнення) v2', parents: ['1Bkgug6m99cdCKeJSF8cVmRjkdpWoniSJ'], mimeType: 'application/vnd.google-apps.document' }) }}","options":{}},"id":"conv","name":"Copy convert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,300],"credentials":{"googleDriveOAuth2Api":{"id":"2GWpYd58b4gHSUPi","name":"Google Drive account"}}},
    {"parameters":{"method":"DELETE","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Upload media').item.json.id }}?supportsAllDrives=true","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"id":"del","name":"Delete raw","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"credentials":{"googleDriveOAuth2Api":{"id":"2GWpYd58b4gHSUPi","name":"Google Drive account"}}},
    {"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($('Copy convert').item.json) }}","options":{}},"id":"resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1300,300]}
  ],
  "connections":{"Webhook":{"main":[[{"node":"GitHub docx","type":"main","index":0}]]},"GitHub docx":{"main":[[{"node":"Upload media","type":"main","index":0}]]},"Upload media":{"main":[[{"node":"Copy convert","type":"main","index":0}]]},"Copy convert":{"main":[[{"node":"Delete raw","type":"main","index":0}]]},"Delete raw":{"main":[[{"node":"Respond","type":"main","index":0}]]}},
  "settings":{"executionOrder":"v1"}
}
