n8n/cmr-draft/CMR_draft_workflow.json
{
  "name": "CMR draft — автоматизація Unitex",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "resolved",
        "options": {
          "allowUnauthorizedCerts": false,
          "unseen": true
        }
      },
      "id": "trigger",
      "name": "IMAP — новий лист",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        160,
        300
      ],
      "credentials": {
        "imap": {
          "id": "kW24ZrmT1XnVuRpA",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.subject }}",
              "rightValue": "CMR|ЦМР|cmr",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "iffilter",
      "name": "Тема містить CMR/ЦМР",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();\nconst out=[];\nfor (let i=0;i<items.length;i++){\n  const it=items[i]; const bin=it.binary||{}; const j=it.json;\n  const docs=[];\n  for (const key of Object.keys(bin)){\n    const b=bin[key]; const mt=(b.mimeType||'').toLowerCase(); const nm=(b.fileName||'').toLowerCase();\n    if(mt.includes('pdf')||nm.endsWith('.pdf')){\n      const buf=await this.helpers.getBinaryDataBuffer(i,key);\n      docs.push({type:'document',source:{type:'base64',media_type:'application/pdf',data:buf.toString('base64')}});\n    }\n  }\n  if(docs.length===0){throw new Error('У листі немає PDF-вкладень.');}\n  const textBody=(j.textPlain||j.text||j.textHtml||'').toString();\n  function field(label){const re=new RegExp(label+'\\\\s*[:\\uFF1A]\\\\s*(.+)','i');const m=textBody.match(re);return m?m[1].trim():'';}\n  let truck='',trailer='';\n  const av=field('\\u0410\\u0432\\u0442\\u043e');\n  if(av){const p=av.split('/');truck=(p[0]||'').trim();trailer=(p[1]||'').trim();}\n  const date=field('\\u0414\\u0430\\u0442\\u0430');\n  const border=field('\\u041f\\u0435\\u0440\\u0435\\u0442\\u0438\\u043d');\n  const carrier=field('\\u041f\\u0435\\u0440\\u0435\\u0432\\u0456\\u0437\\u043d\\u0438\\u043a');\n  function hdr(name){if(Array.isArray(j.headers)){const h=j.headers.find(x=>(x.name||'').toLowerCase()===name);if(h)return h.value;}return j[name]||j[name.charAt(0).toUpperCase()+name.slice(1)]||'';}\n  const prompt=\"Ти обробляєш комерційні документи на морський вантаж. У вкладеннях можуть бути різні документи.\\nВИКОРИСТОВУЙ ДАНІ ВИКЛЮЧНО з Bill of Lading (коносамент) та Commercial Invoice (інвойс). Решту ІГНОРУЙ.\\nПоверни СТРОГО валідний JSON без пояснень і без markdown, з полями:\\n{\\n\\\"sender\\\":\\\"відправник (Shipper/Seller): назва та адреса; КОЖНА ЧАСТИНА З НОВОГО РЯДКА через символ \\\\\\\\n (назва, потім вулиця, потім місто індекс країна)\\\",\\n\\\"receiver\\\":\\\"отримувач (Consignee): так само, кожна частина з нового рядка через \\\\\\\\n\\\",\\n\\\"delivery_city\\\":\\\"МІСТО з адреси ОТРИМУВАЧА (Consignee) — місто кінцевої доставки, напр. DNIPRO. ЦЕ НЕ ПОРТ.\\\",\\n\\\"delivery_country\\\":\\\"КРАЇНА з адреси отримувача, напр. UKRAINE\\\",\\n\\\"loading\\\":\\\"Port of Discharge з Bill of Lading — порт, де судно ВИВАНТАЖУЄ вантаж (напр. GDANSK, POLAND). ЦЕ НЕ Port of Loading і НЕ BUSAN. Формат: МІСТО, КРАЇНА\\\",\\n\\\"invoice\\\":\\\"номер інвойсу (Invoice No.)\\\",\\n\\\"invoice_date\\\":\\\"дата інвойсу у форматі ДД.ММ.РРРР\\\",\\n\\\"container\\\":\\\"номер контейнера\\\",\\n\\\"packages\\\":\\\"кількість місць, лише число (напр. 720)\\\",\\n\\\"packaging\\\":\\\"вид упаковки (напр. BAGS)\\\",\\n\\\"goods\\\":\\\"назва вантажу (напр. ABS RESIN SV-0167)\\\",\\n\\\"weight\\\":\\\"вага БРУТТО (Gross Weight) з одиницею (напр. 18 129,600 KGS)\\\",\\n\\\"volume\\\":\\\"об єм/measurement (напр. 25.92 CBM)\\\"\\n}\\nВага — ОБОВ`ЯЗКОВО брутто. Якщо поля немає — постав \\\"\\\".\";\n  const body={model:'claude-sonnet-4-6',max_tokens:1500,messages:[{role:'user',content:docs.concat([{type:'text',text:prompt}])}]};\n  out.push({json:{body,truck,trailer,date,border,carrier,from:(j.from&&j.from.value&&j.from.value[0]&&j.from.value[0].address)||hdr('from')||j.from||'',cc:(j.cc&&j.cc.text)||hdr('cc')||'',subject:j.subject||'',messageId:j.messageId||hdr('message-id')||''}});\n}\nreturn out;\n"
      },
      "id": "prep",
      "name": "Підготовка даних",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "claude",
      "name": "Claude — парсинг",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        220
      ],
      "credentials": {
        "anthropicApi": {
          "id": "S4WsLWJw1fpDwXqf",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp=$input.item.json;\nlet text=(resp.content&&Array.isArray(resp.content))?resp.content.map(c=>c.text||'').join(''):(resp.text||'').toString();\ntext=text.replace(/```json/gi,'').replace(/```/g,'').trim();\nlet data={};try{data=JSON.parse(text);}catch(e){const mm=text.match(/\\{[\\s\\S]*\\}/);if(mm)data=JSON.parse(mm[0]);}\nconst prep=$('\\u041f\\u0456\\u0434\\u0433\\u043e\\u0442\\u043e\\u0432\\u043a\\u0430 \\u0434\\u0430\\u043d\\u0438\\u0445').item.json;\nconst f=k=>(data[k]||'').toString().trim();\nconst container=f('container'); const receiver=f('receiver');\nconst receiverShort=receiver.split(/[\\n,]/)[0].trim();\nconst docTitle='CMR draft \\u2116'+container+' '+receiverShort;\nconst map={sender:f('sender'),receiver:receiver,delivery_city:f('delivery_city'),delivery_country:f('delivery_country'),loading:f('loading'),invoice:f('invoice'),invoice_date:f('invoice_date'),container:container,packages:f('packages'),packaging:f('packaging'),goods:f('goods'),weight:f('weight'),volume:f('volume'),date:prep.date||'',border:prep.border||'',carrier:prep.carrier||'',truck:prep.truck||'',trailer:prep.trailer||''};\nconst ph=Object.keys(map).map(k=>['{'+'{'+k+'}'+'}',map[k]]);\nconst docsBody={requests:ph.map(p=>({replaceAllText:{containsText:{text:p[0],matchCase:true},replaceText:String(p[1]||'')}}))};\nreturn [{json:Object.assign({},map,{docTitle,docsBody,from:prep.from,cc:prep.cc,subject:prep.subject})}];\n"
      },
      "id": "parse",
      "name": "Розбір JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        220
      ]
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1JAU5rPwCQHmQmHTebB445YG-wd4jGVYKsnY0NnoipSM",
          "mode": "id"
        },
        "name": "={{ $json.docTitle }}",
        "options": {
          "parents": [
            "1Bkgug6m99cdCKeJSF8cVmRjkdpWoniSJ"
          ]
        }
      },
      "id": "copy",
      "name": "Копія шаблону",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1260,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2GWpYd58b4gHSUPi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Розбір JSON').item.json.docsBody) }}",
        "options": {}
      },
      "id": "fill",
      "name": "Заповнення ЦМР (Docs API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2GWpYd58b4gHSUPi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Копія шаблону').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          },
          "fileName": "={{ $('Розбір JSON').item.json.docTitle }}.pdf"
        }
      },
      "id": "export",
      "name": "Експорт у PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1700,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2GWpYd58b4gHSUPi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "docs@unitex.od.ua",
        "toEmail": "={{ $('Розбір JSON').item.json.from }}",
        "subject": "=Re: {{ $('Розбір JSON').item.json.subject }}",
        "emailFormat": "text",
        "text": "=Доброго дня!\n\nУ вкладенні — чернетка CMR по контейнеру {{ $('Розбір JSON').item.json.container }} (отримувач: {{ $('Розбір JSON').item.json.receiver }}).\nПеревірте, будь ласка, дані перед використанням.\n\nЗ повагою,\nUnitex",
        "options": {
          "ccEmail": "={{ $('Розбір JSON').item.json.cc }}",
          "attachments": "data"
        }
      },
      "id": "reply",
      "name": "Відповідь (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1920,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "IRHmy9RLt9AtxQFS",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "IMAP — новий лист": {
      "main": [
        [
          {
            "node": "Тема містить CMR/ЦМР",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тема містить CMR/ЦМР": {
      "main": [
        [
          {
            "node": "Підготовка даних",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Підготовка даних": {
      "main": [
        [
          {
            "node": "Claude — парсинг",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — парсинг": {
      "main": [
        [
          {
            "node": "Розбір JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Розбір JSON": {
      "main": [
        [
          {
            "node": "Копія шаблону",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Копія шаблону": {
      "main": [
        [
          {
            "node": "Заповнення ЦМР (Docs API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заповнення ЦМР (Docs API)": {
      "main": [
        [
          {
            "node": "Експорт у PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Експорт у PDF": {
      "main": [
        [
          {
            "node": "Відповідь (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}